.tweet-item {
    background: var(--color-background);
    border: 1px solid var(--color-background-secundary-dark);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
}

.tweet-item header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.tweet-item header img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.tweet-item header div {
    margin-left: 2.4rem;
}

.tweet-item header div strong {
    font: 700 2.4rem Barlow;
    display: block;
    color: var(--color-text-title);
}

.tweet-item header div span {
    font: 400 1.4rem Barlow;
    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem;
}

.tweet-item > p {
    padding: 0 2rem;
    font: 500 1.8rem Barlow;
    line-height: 2.0rem;
}

.tweet-item footer {
    padding: 2.8rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-background-secundary-dark);
    margin-top: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tweet-item footer button {
    width: 15rem;
    height: 5rem;
    background: var(--color-background);
    color: var(--color-primary);
    border: 2;
    border-color: var(--color-background-secundary);
    border-radius: 0.8rem ;
    cursor: pointer;
    font: 600 1.4rem Barlow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 700px) {
    .tweet-item header,
    .tweet-item footer {
        padding: 3.2rem;
    }

    .tweet-item > p {
        padding: 0 3.2rem;
    }

    .tweet-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .tweet-item footer button {
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .tweet-item footer button img {
        margin-right: 1.6rem;
    }
}