.tweet-item {
  background: var(--color-background);
  border: 1px solid var(--color-background-secundary-dark);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

.tweet-item header {
  padding: 3.2rem 0 2rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-background-secundary-dark);
}

.tweet-item header img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.tweet-item header div {
  display: flex;
  align-items: center;
  margin-left: 2.4rem;
}

.tweet-item header div strong {
  margin-left: 2rem;
  font: 700 2.4rem Barlow;
  color: var(--color-text-title);
}

.tweet-item header div span {
  margin-left: 2rem;
  font: 500 2rem Barlow;
  font-size: 1.6rem;
  margin-top: 0.4rem;
}

.tweet-item > p {
  margin: 2.5rem 0 0 2rem;
  font: 500 2rem Barlow;
  line-height: 2rem;
}

@media (min-width: 700px) {
  .tweet-item header {
    padding: 3.2rem;
  }

  .tweet-item > p {
    padding: 0 3.2rem;
  }
}
