:root {
    font-size: 60%;
    
    --color-background: #ffffff;
    --color-background-secundary: #FAFAFA;
    --color-primary-dark: #008abe;
    --color-primary-light: #2bc4ff;
    --color-primary: #00acee;
    --color-secundary: #1a8dc2;
    --color-secundary-dark: #206f98;
    --color-title-in-primary: #ffffff;
    --color-text-title: #141f27;    
    --color-text-base: #000000;
    --color-input-background: #f8f8fc;
    --color-button-text: #ffffff;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, 
input, 
button, 
textarea {
    font: 600 1.6rem Rubik;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px){
    :root {
        font-size: 62.5%;
    }
}